

@*<h3><i class="fa fa-list"></i>&nbsp;Tarjeta de Crédito</h3>
<button type="button" class="btn btn-default active" onclick="location.reload();"><i class="fa fa-refresh"></i>&nbsp;Refrescar Tarjeta Crédito</button>
<br />
<br />
<table id="tableResultadoTarjeta" class="table table-striped">
    <thead>
        <tr>
            <th>Deudor</th>
            <th>Feria</th>
            <th>Segmento</th>
            <th>Producto</th>
            <th>Monto</th>
            <th>Oferta Aceptada</th>
        </tr>
    </thead>

</table>

<div id="ucCheckAceptar" style="display:none;">
    <div class="checkbox">
        <label>
            <input id="checkDesembolsoConfirmacion" type="checkbox" />
        </label>
    </div>
</div>

<div id="ucBtnCatalogoSegmento" style="display:none;">
    <button type="button" class="btn btn-default btn-xs active" onclick=''>
        <i class="fa fa-arrow-circle-right "></i>&nbsp;&nbsp;Segmento
    </button>
</div>

<div id="ucBtnCatalogoFeria" style="display:none;">
    <button type="button" class="btn btn-default btn-xs active" onclick=''>
        <i class="fa fa-arrow-circle-right" "></i>&nbsp;&nbsp;Feria
    </button>
</div>*@