<div class="alert alert-danger" role="alert">
    <h3>Error inesperado</h3>
    Ha ocurrido un error inesperado. Por favor, consulte con el administrador del sistema.
</div>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script>
    $(document).ready(function () {
        $("#barraMenu").hide();
    });
</script>