@{
    Layout = null;
}

<div class="row padding-bottom">
    <div class="col-xs-12">
        <div class="input-group padding-bottom input-group-sm">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Asignar Responsable:</span>
            <select id="ddlResponsable" name="ddlResponsable" class="form-control" aria-label="..." required>
                <option></option>
            </select>
        </div>
    </div>
</div>

<div class="input-group padding-bottom">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-comments"></i>&nbsp;&nbsp;Instrucciones:</span>
    <textarea id="txtComentario" name="txtComentario" class="form-control" rows="3" maxlength="500" required></textarea>
</div>
