@{
    Layout = null;
}

<br />
<div class="row">
    <div class="col-xs-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon span-input-white" id="basic-addon1">Código de Sociedad</span>
            <input id="txtCodigoSociedad1" name="txtCodigoSociedad1" type="text" class="form-control" disabled readonly/>
        </div>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-primary btn-sm " id="btnActualizarDtlInstrucciones">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<strong>Actualizar</strong>
        </button>
    </div>
</div>
<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><center>Corporate Documents CheckList</center></h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkMandAA" type="checkbox" /> 1. M. and AA
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkAppointmentFirstDirectors" type="checkbox" /> 2. Appointment of first Directors
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkCOI" type="checkbox" /> 3. COI
            </label>
        </div>       
    </div>
    <div class="col-xs-3">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkSealImpression" type="checkbox" /> 4. Seal Impression
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkLetterImpression" type="checkbox" /> 5. Letter of Consent
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkResolutionShares" type="checkbox" /> 6. resolution of Shares
            </label>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkShareCertificate" type="checkbox" /> 7. Share Certificate
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkRegisterDirectors" type="checkbox" /> 8. Register of Directors
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkRegisterMembers" type="checkbox" /> 9. Register of Members
            </label>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkAccountingRecordSolution" type="checkbox" /> 10. Accounting Record Solution
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkCompanyApplicationForm" type="checkbox" /> 11. Company application Form
            </label>
        </div>
        <div class="checkbox padding-bottom">
            
        </div>
    </div>
</div>

<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><center>Post Incorporation</center></h3>
    </div>
</div>

<div class="row">    
    <div class="col-xs-4">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkResolutionNewDirectors" type="checkbox" /> 11. Resolution of New Directors
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkResolutionNewOfficer" type="checkbox" /> 12. Resolution of New Officer
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkResolutionNewMembers" type="checkbox" /> 13. Resolution of New Members
            </label>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkLetterResignation" type="checkbox" /> 14. Letter of Resignation
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkNewShareCertificate" type="checkbox" /> 15. New Share Certificate
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkNewDirectorConsent" type="checkbox" /> 16. New Director Consent
            </label>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkPowerAttorney" type="checkbox" /> 17. Power attorney
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkInstrumentTransfer" type="checkbox" /> 18. Instrument of Transfer
            </label>
        </div>
        <div class="checkbox padding-bottom">
            <label>
                <input id="chkPTrustAgreement" type="checkbox" /> 19. P. Trust Agreement
            </label>
        </div>
    </div>
</div>

<div class=" input-group padding-bottom form-inline input-group-sm">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Accounting Record Location:</span>
    <textarea id="txtaAccountingRecordLocation" class="form-control" rows="3"></textarea>
</div>

<!--
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><center>Final User DD Doc</center></h3>
    </div>
</div>

<center class="form-inline">
    <div class="checkbox padding-bottom">
        <label>
            <input type="checkbox" /> Pasaporte
        </label>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="checkbox padding-bottom">
        <label>
            <input type="checkbox" /> Utility Bill
        </label>
    </div>
</center> 
-->