@{
    Layout = null;
}


<br />
<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkNotariaNav" type="checkbox" name="currie" value="cre" /> Notaría&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <textarea id="txtaNotariaNav" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnSolTraNav" class="input-group-addon btn btn-primary">Solic. Notaria/Traduc.</span>
</div>
<div id="solicitudNotariaTraduccionNav" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudNotariaTraduccion.cshtml")
</div>

<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkTraduccionNav" type="checkbox" name="currie" value="cre" /> Traducción</span>
    <textarea id="txtaTraduccionNav" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnSolTraNav2" ;" class="input-group-addon btn btn-primary">Solic. Notaria/Traduc.</span>
</div>
<div id="solicitudNotariaTraduccion2Nav" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudNotariaTraduccion.cshtml")
</div>

<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkTesoreriaNav" type="checkbox" name="currie" value="cre" /> Tesorería&nbsp;&nbsp;&nbsp;</span>
    <textarea id="txtaTesoreriaNav" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnTesoreriaNav" class="input-group-addon btn btn-primary" style="width:143px;">Solic. Tesorería</span>
</div>
<div id="solicitudDeTesoreriaNav" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudDeTesoreria.cshtml")
</div>

<div class="input-group input-group-sm">
    <span class="input-group-addon"><input type="checkbox" name="currie" value="cre" /> Mesa Ope.&nbsp;</span>
    <textarea class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span onclick="$('#XXXXNav').toggle();" class="input-group-addon btn btn-primary" style="width:143px;">Solic. Mesa Ope.</span>
</div>
<div id="XXXXNav" style="display: none">
    ----------- Por definir, funcionalidad ---------------
</div>

