@{
    Layout = null;
}


<br />
<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkNotariaFun" type="checkbox" name="currie" value="cre" /> Notaría&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <textarea id="txtaNotariaFun" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnSolTraFun" class="input-group-addon btn btn-primary">Solic. Notaria/Traduc.</span>
</div>
<div id="solicitudNotariaTraduccionFun" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudNotariaTraduccion.cshtml")
</div>

<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkTraduccionFun" type="checkbox" name="currie" value="cre" /> Traducción</span>
    <textarea id="txtaTraduccionFun" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnSolTraFun2" ;" class="input-group-addon btn btn-primary">Solic. Notaria/Traduc.</span>
</div>
<div id="solicitudNotariaTraduccion2Fun" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudNotariaTraduccion.cshtml")
</div>

<div class="input-group padding-bottom input-group-sm">
    <span class="input-group-addon"><input id="chkTesoreriaFun" type="checkbox" name="currie" value="cre" /> Tesorería&nbsp;&nbsp;&nbsp;</span>
    <textarea id="txtaTesoreriaFun" class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span id="btnTesoreriaFun" class="input-group-addon btn btn-primary" style="width:143px;">Solic. Tesorería</span>
</div>
<div id="solicitudDeTesoreriaFun" style="display: none">
    @Html.Partial("~/Views/SolicitudDeServicio/_SolicitudDeTesoreria.cshtml")
</div>

<div class="input-group input-group-sm">
    <span class="input-group-addon"><input type="checkbox" name="currie" value="cre" /> Mesa Ope.&nbsp;</span>
    <textarea class="form-control custom-control txta-otros-depto" rows="3" style="resize:none" disabled></textarea>
    <span onclick="$('#XXXXFun').toggle();" class="input-group-addon btn btn-primary" style="width:143px;">Solic. Mesa Ope.</span>
</div>
<div id="XXXXFun" style="display: none">
    ----------- Por definir, funcionalidad ---------------
</div>

