@{
    Layout = null;
}

<form id="formInstruccionesHeader">
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group padding-bottom input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;Área:</span>
                <input type="text" class="form-control " placeholder="" aria-describedby="basic-addon1" readonly>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-university"></i>&nbsp;&nbsp;Jurisdicción:</span>
                <input type="text" class="form-control " placeholder="" aria-describedby="basic-addon1" readonly>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-language"></i>&nbsp;&nbsp;Idioma:</span>
                <input type="text" class="form-control " placeholder="" aria-describedby="basic-addon1" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-4" style="padding-right: 2px;">
                    <div class="input-group padding-bottom form-inline input-group-sm">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-exchange"></i>&nbsp;&nbsp;Tramite:</span>
                        <input type="text" class="form-control input-group-sm" placeholder="" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col-xs-8" style="padding-left: 2px;">
                    <input type="text" class="form-control input-sm" placeholder="" aria-describedby="basic-addon1" readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-star-half-o"></i>&nbsp;&nbsp;Prioridad:</span>
                <input type="text" class="form-control " placeholder="" aria-describedby="basic-addon1" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="input-group padding-bottom input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-archive"></i>&nbsp;&nbsp;Oficina:</span>
                <select class="form-control" aria-label="..." readonly>
                    <option></option>
                    <option value="PA">Nombre 1</option>
                    <option value="CT">Nombre 2</option>
                    <option value="NY">Nombre 3</option>
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-gavel"></i>&nbsp;&nbsp;Bajo Leyes:</span>
                <select class="form-control" aria-label="..." readonly>
                    <option></option>
                    <option value="PA">Nombre 1</option>
                    <option value="CT">Nombre 2</option>
                    <option value="NY">Nombre 3</option>
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-male"></i>&nbsp;&nbsp;Abogado:</span>
                <select class="form-control" aria-label="..." readonly>
                    <option></option>
                    <option value="PA">Nombre 1</option>
                    <option value="CT">Nombre 2</option>
                    <option value="NY">Nombre 3</option>
                </select>
            </div>
        </div>
    </div>

    <br />

    <label><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Instrucciones Generales / Obersvaciones</label>
    <textarea class="form-control" rows="3"></textarea>

    <br />
</form>


